{% extends "nav.html" %}
{%block content%}
<body class="bg-gray-100 p-10 font-sans">
  <div class="max-w-xl mx-auto bg-white p-6 shadow rounded">
    <h1 class="text-2xl font-bold mb-4">Confire your e-mail adress</h1>

    <form method="post">
      {% csrf_token %}
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1">Email</label>
        {{ form.email }}
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium mb-1">Password</label>
        {{ form.token }}
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium mb-1">Host</label>
        {{ form.host }}
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium mb-1">Port</label>
        {{ form.port }}
      </div>

    <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded">
    {% if connection_exists %}
        Update Configuration
    {% else %}
        Save Configuration
    {% endif %}
    </button>
    </form>

    <p class="mt-4 text-sm text-gray-600">
      <a href="{% url 'main' %}" class="text-blue-600 hover:underline">← Back to the main site</a>
    </p>
  </div>
</body>
{% endblock %}
